//
//	VARIABLES
// ------------------------------------------------------

$font-size-base: 100%;
$font-family: Roboto, "Segoe UI", Tahoma, sans-serif;

$color-text: #323232;
$color-main-title: #2C73D2;
$color-bg-body: #f9f9f9;
$color-shadow: #00BFDE;
$color-outline: #1a457e;
$color-text-w: #fff;
$alert-bg: rgb(233, 72, 72);
$bg-recipe: rgba(161, 161, 161, 0.6);
$color-ingr: #888;


$color-bg-item: #7fa1ff;
$color-search: #808080;

$bg-warm: #ff6767;

$color-hover: #5e5e5e;

$animation-speed: 0.25s;
